@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  max-width: 860px;
  margin: 40px auto;
  color: #fff;
  text-align: center;
}

button {
  /* border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em; */
}

button.btn {
  background-color: #3c0753;
  font-weight: 600;
  border: transparent;
}

button.btn:hover {
  background: #e3ffef;
  color: #3c0753;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

img {
  object-fit: cover;
  height: 100%;
}
