@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  max-width: 860px;
  margin: 40px auto;
  color: #fff;
  text-align: center;
}

button.btn {
  background-color: #3c0753;
  font-weight: 600;
  border: transparent;
}

button.btn:hover {
  background: #e3ffef;
  color: #3c0753;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-grid .card {
  height: 90%;
  border: transparent;
  background-color: transparent;
}

img {
  object-fit: cover;
  height: 100%;
}

img.back {
  border: solid 2px #3c0753;
  border-radius: 4px;
  box-shadow: #e3ffef;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
}

.card.flipped .front {
  transform: rotateY(0deg);
  width: 100%;
  transition-delay: 0.2s;
}

.card .back {
  transition-delay: 0.2s;
  transition: all ease-in 0.2s;
}

.card.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.score {
  display: flex;
  justify-content: space-evenly;
}
